body{
    background: url('https://i.pinimg.com/originals/09/29/73/09297311df5b00994d45fb94fec90b6e.jpg');
    background-size: 100% auto;
}
#cwJumbotron{
    opacity: 0.8;
    margin-top: 10%;
}
#cwh1{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Lucida Console", Times;
}
#rules{
    text-align: center;
    font-family: Courier, monospace;
    font-weight: bold;
}
#createInfo{
    opacity: 0.8;
    margin-bottom: 10%;
}
#formTitles{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-weight: bold;
    font-size: 1.5em;
}

#labels{
    font-family: Courier, monospace;
}